.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-normal);
    color: var(--body-bg) !important;
    padding: .5rem .7rem;
    margin-bottom: 5px;
    border-radius: 4rem;
    transition: background-color .2s;

    &:hover {
        background-color: var(--primary-hover);
        color: var(--body-bg) !important;
    }

    &.secondary {
        background-color: var(--body-bg-stronger);
        color: var(--front-color) !important;

        &:hover {
            background-color: var(--front-color);
            color: var(--body-bg) !important;
        }
    }

    &:active,
    &.active {
        background-color: var(--secondary-hover) !important;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba($primary,.5);
    }
}